*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

font-family:'Poppins',Arial,sans-serif;
background:#f4f7fb;
color:#333;
line-height:1.7;

}



/* HEADER */


header{

background:#02152d;
color:white;
padding:20px 60px;
display:flex;
justify-content:space-between;
align-items:center;

}


.logo h1{

color:#00c3ff;
font-size:32px;

}


.logo p{

color:#ccc;

}


nav a{

color:white;
text-decoration:none;
margin-left:25px;
font-weight:bold;

}


nav a:hover{

color:#00c3ff;

}





/* HERO */


.hero{

background:
linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),
url("images/datacenter.jpg");

background-size:cover;
background-position:center;

color:white;
text-align:center;

padding:100px 20px;

}


.hero h2{

font-size:50px;
margin-bottom:20px;

}


.hero p{

font-size:20px;
max-width:800px;
margin:auto;

}





/* ABOUT */


.about{

padding:80px 100px;
text-align:center;

}


.about h2{

font-size:42px;
color:#02152d;
margin-bottom:30px;

}


.about p{

font-size:18px;
max-width:900px;
margin:auto;

}





/* VISION */


.vision{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:30px;

padding:60px;

}



.box{

background:white;
padding:35px;

border-radius:20px;

box-shadow:0 10px 25px rgba(0,0,0,.1);

transition:.3s;

}


.box:hover{

transform:translateY(-10px);

}


.box h3{

color:#00a7db;
font-size:25px;
margin-bottom:15px;

}





/* FUTURE */


.future{

background:#02152d;
color:white;

text-align:center;

padding:80px;

}


.future h2{

color:#00c3ff;
font-size:40px;

}


.future p{

max-width:900px;
margin:25px auto;

font-size:18px;

}





/* COMMITMENT */


.commitment{

padding:70px 100px;

}


.commitment h2{

text-align:center;
color:#02152d;
font-size:40px;

}


.commitment li{

margin:15px;
font-size:18px;

}





/* FOOTER */


footer{

background:#02152d;
color:white;

text-align:center;
padding:40px;

}


footer h2{

color:#00c3ff;

}





@media(max-width:768px){


header{

flex-direction:column;

}


nav{

margin-top:20px;

}


nav a{

display:block;
margin:10px;

}


.about,
.commitment{

padding:50px 20px;

}


.hero h2{

font-size:35px;

}


}