/* =================================
   AC GALAXY DATABASE
   SOLUTIONS PAGE CSS
================================= */


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    font-family:Arial, Helvetica, sans-serif;
    background:#f4f7fb;
    color:#333;
    line-height:1.6;

}



/* HEADER */

header{

    background:#02152d;
    color:white;
    padding:25px 60px;
    display:flex;
    justify-content:space-between;
    align-items:center;

}


.logo h1{

    color:#00c3ff;
    font-size:32px;

}


.logo p{

    color:#cccccc;
    font-size:14px;

}


nav a{

    color:white;
    text-decoration:none;
    margin-left:25px;
    font-weight:bold;

}


nav a:hover{

    color:#00c3ff;

}




/* HERO SECTION */


.hero{

    background:
    linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),
    url("images/technology.jpg");

    background-size:cover;
    background-position:center;

    color:white;
    text-align:center;

    padding:120px 20px;

}


.hero h2{

    font-size:50px;
    margin-bottom:20px;

}


.hero p{

    max-width:850px;
    margin:auto;
    font-size:20px;

}





/* MAIN IMAGE */


.solution-image{

    text-align:center;
    padding:60px 20px;
    background:white;

}


.solution-image img{

    width:100%;
    max-width:1000px;
    height:400px;

    object-fit:cover;

    border-radius:20px;

    box-shadow:0 10px 30px rgba(0,0,0,.2);

}





/* INTRODUCTION */


.intro{

    text-align:center;
    padding:80px 100px;

}


.intro h2{

    color:#02152d;
    font-size:42px;
    margin-bottom:25px;

}


.intro p{

    max-width:900px;
    margin:auto;
    font-size:18px;

}





/* SOLUTION CARDS */


.solution-grid{

    padding:50px 70px;

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(280px,1fr));

    gap:30px;

}



.solution-card{

    background:white;

    padding:35px;

    border-radius:20px;

    box-shadow:
    0 8px 25px rgba(0,0,0,.12);

    transition:.3s;

}



.solution-card:hover{

    transform:translateY(-10px);

}



.solution-card h3{

    color:#00a7db;

    font-size:24px;

    margin-bottom:15px;

}





/* FUTURE SECTION */


.future{

    background:#02152d;

    color:white;

    text-align:center;

    padding:90px 50px;

}



.future h2{

    color:#00c3ff;

    font-size:40px;

    margin-bottom:20px;

}



.future p{

    max-width:850px;

    margin:auto;

    font-size:18px;

}





/* FOOTER */


footer{

    background:#010d1d;

    color:white;

    text-align:center;

    padding:40px;

}


footer h2{

    color:#00c3ff;

    margin-bottom:15px;

}





/* MOBILE DESIGN */


@media(max-width:768px){


header{

    flex-direction:column;
    text-align:center;

}


nav{

    margin-top:20px;

}


nav a{

    display:block;
    margin:12px;

}


.hero h2{

    font-size:35px;

}


.intro{

    padding:50px 20px;

}


.solution-grid{

    padding:30px 20px;

}


.solution-image img{

    height:250px;

}


}